#overlay {
    position:absolute;
    z-index: 100;
    top: 0;
    width: max-content;
}

#controls {
    position:fixed;
    z-index: 200;
    top: 0;
}

#trash {
    position:fixed;
    z-index: 125;
    top: 0;
    right: 0;
    background-color: white;
    padding: 5px;
}

.icon {
    z-index: 150;
    font-size: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, .6);  
}

.icon.highlighted {
    border: 2px solid orange;
}

.icon.with-label {
    width: 40px;
    height: 55px;
}

.icon.small {
    height: 40px;
    width: 40px;
}

.icon.large {
    height: 70px;
    width: 70px;
}
.icon.huge {
    height: 120px;
    width: 120px;
}
.icon.wall {
    height: 40px;
    width: 160px;
}

#icon-controls .icon {
    float: left;
}


.tile {
    width: 15px;
    height: 15px;
    /*opacity: 0.5;*/
    background-color: black;
    padding: 0;
    display: table-cell;
}

.hidden {
    /*visibility: hidden;*/
    opacity: 0;
}

.hide {
    display: none;
}

body {
    background-color: black;
}

.upside-down {
    transform: rotate(180deg);
}

.ui-autocomplete {
    z-index: 250;
}

.ui-autocomplete li div {
    font-size: 12px;
}

.ctrl-rectangle {
    border: 1px dashed lightblue;
    position: absolute;
    z-index: 250;
}

* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.p5Canvas {
    position: absolute;
    top: 0;
    z-index: 125;
}

.control-group>div>* {
    display: block;
}

#controls {
    display: flex;
}

.control-group {
    display: block;
}

.control-group fieldset {
    background-color: rgba(255,255,255,0.7);
    font-size: 70%;
}
